html{box-sizing:border-box;}
*, *:before, *:after{box-sizing:inherit;}
*{outline:none;}



.button, .button:hover
{
	transition:all .5s linear;
}

.clear{clear:both;}
.pagination{font-size:20px;margin:20px;text-align:right;}
.button{background-color: white;border:2px solid #b28e8e;border-radius:6px;padding:6px;}
.button:hover{background-color:#b28e8e;color:#fff;}

body
{
	background:#fff;
	background-size:cover;
	color:#000;
	font-family:sans-serif;
	font-size:16px;
	margin:auto;
	width:1300px;
}

hr
{
	border:1px dashed #b28e8e;
}

/* couleur de la barre de division des articles */ 
nav, section, div#sidebar, footer
{
	box-shadow:0 0 5px #b28e8e;
}

/* couleur de fond de la barre de menu */
nav, footer
{
	background-color:#b28e8e;
}

/* aligner le melnu au center */ 
nav
{
	text-align:center;
}

nav li
{
	display:inline-block;
	list-style:none;
	margin:10px;
}

/* couleur des lettres barre de menu */ 
nav a
{
	color:#fff;
	font-variant:normal;
	font-size:20px;
 
}

section, aside
{
	background-color:#fff;
}

article, aside
{
	padding:16px;
}

section
{
	float:left;
	width:880px;
}



div#sidebar
{
	float:right;
	width:400px;
}

aside p
{
	font-size:14px;
}

footer
{
	color:#FFF;
	margin-top:25px;
	padding:5px;
	text-align:center;
}

h1, h2
{
	font-family: Lucida Sans Unicode, fantasy;
	color:hsl(34, 47%, 22%);
}

h1
{
	color:hsl(34, 47%, 22%);
	font-size:45px;
}
section h2
{
	font-size:36px;
	margin-bottom:15px;
}
aside h2
{
	color:hsl(34, 47%, 22%);
}

a
{
	color:hsl(34, 47%, 22%);
	text-decoration:none;
}
a:hover
{
	color:#e2cdd3;
}

input
{
	border:none;
	padding:6px;
}

input[type=text], input[type=submit]
{
	color:#FFF;
}

input[type=text]
{
	background-color:#b28e8e;
	border:2px solid #b28e8e;
}

input[type=submit]
{
	background-color:#b28e8e;
	border:2px solid #b28e8e;
	border-radius:3px;
	cursor:pointer;
}

